IndentWidth: 4
IndentCaseLabels: true
ColumnLimit: 80
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Always
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
